## Pandas Day - 2

### Pandas Series â€“ Creation and Operations

In [3]:
import pandas as pd

In [4]:
# Creating a Series with custom index, name, and data type
series = pd.Series(
    74,
    index=['a', 'b', 'c', 'd', 'e'],
    name="Similar series",
    dtype=float
)
series

a    74.0
b    74.0
c    74.0
d    74.0
e    74.0
Name: Similar series, dtype: float64

### Creating Series from a Python Dictionary

In [5]:
data = {"a": 12, "b": 34, "c": 56}
x = pd.Series(data)
x

a    12
b    34
c    56
dtype: int64

### Accessing Elements from a Series

In [6]:
series = pd.Series([1, 2, 3, 4, 5, 6, 7, 8])
series

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [7]:
# Slicing the series
series[2:7]

2    3
3    4
4    5
5    6
6    7
dtype: int64

### Arithmetic Operations on Series

In [8]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([10, 20, 30, 40, 50])

In [9]:
# Addition
print(s1 + s2)

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [10]:
# Multiplication
print(s1 * s2)

0     10
1     40
2     90
3    160
4    250
dtype: int64

In [11]:
# Power operation
print(s1 ** 3)

0      1
1      8
2     27
3     64
4    125
dtype: int64

### Statistical Operations

In [12]:
mean_value = pd.Series([1, 2, 3, 4, 5, 6, 7, 8]).mean()
mean_value

4.5

In [13]:
# Maximum value
max(s1)

5

In [14]:
# Minimum value
min(s2)

10

### Conditional Filtering

In [15]:
a = pd.Series([3, 6, 9, 12, 15])
a[a < 9]

0    3
1    6
dtype: int64

In [16]:
s1[s1 < 2]

0    1
dtype: int64

### Dropping Elements from Series

In [17]:
b = s1.drop(3)  # Drops element at index 3
b

0    1
1    2
2    3
4    5
dtype: int64

In [18]:
# Adding two series
a.add(b)

0     4.0
1     8.0
2    12.0
3     NaN
4    20.0
dtype: float64

### Conclusion
- Pandas Series supports arithmetic, statistical, and conditional operations.
- Index-based operations make data manipulation flexible.
- Series methods like `mean()`, `drop()`, and `add()` simplify analysis.