## Pandas Day -3

### Dataframe Creation

A DataFrame is a two-dimensional data structure in Pandas that stores data in rows and columns.

In [3]:
import pandas as pd

### Creating empty data frame

In [5]:
df=pd.DataFrame([])
print(df)

Empty DataFrame
Columns: []
Index: []

### Creating dataframe from list

In [6]:
list1=['a','e','i','o','u']
df1=pd.DataFrame(list1)
df1

   0
0  a
1  e
2  i
3  o
4  u

### Creating dataframe from list of list

In [7]:
list2=[[1,2,3],[4,5,6],[7,8,9]]
df2=pd.DataFrame(list2)
df2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

### Creating dataframe from dict or dictionary or python dictionary

In [8]:
data = {
    "Name": ["Amit", "Rahul", "Neha", "Priya"],
    "Age": [21, 22, 20, 23],
    "Marks": [85, 78, 90, 88]
}

df = pd.DataFrame(data)
df

    Name  Age  Marks
0   Amit   21     85
1  Rahul   22     78
2   Neha   20     90
3  Priya   23     88