## Pandas Day 5

### Reading CSV files in pandas

A CSV file (Comma-Separated Values) is a text file used to store tabular data where values are separated by commas.

In [1]:
import pandas as pd

In [28]:
df=pd.read_csv('student_result1.csv')

In [29]:
df.head()

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60
3        1004       C     11          0                       1          45
4        1005       C     12          5                       2          75

In [4]:
df2=pd.read_csv('Top 10 IT Company in India.csv')

In [7]:
df2.head()

  Top 10 IT Companies in India
0                          TCS
1                      Infosys
2                Tech Mahindra
3             HCL Technologies
4                        Wipro

In [9]:
df3=pd.read_csv('Fortune_10.csv')

In [10]:
df3.head()

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%

### Parameters in read_csv

In [36]:
df=pd.read_csv("Fortune_10.csv",header=1)# header is use for to make headings 
df

,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
0,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
1,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
2,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
3,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
4,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
5,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
6,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
7,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
8,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [38]:
df=pd.read_csv("Fortune_10.csv",header=None)
df

,0,1,2,3,4,5,6,7
0,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
1,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
2,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
6,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
7,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
9,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
10,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [39]:
df=pd.read_csv("Fortune_10.csv",names=['A','B','C','D','E','F','G','H','I','J'])# extra index print nan column 
df

,A,B,C,D,E,F,G,H,I,J
0,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,NaN,NaN
1,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,NaN,NaN
2,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,NaN,NaN
3,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,NaN,NaN
4,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,NaN,NaN
5,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,NaN,NaN
6,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,NaN,NaN
7,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,NaN,NaN
8,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,NaN,NaN
9,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%,NaN,NaN
10,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,NaN,NaN

### Reading Limited Rows (nrows)

In [40]:
df=pd.read_csv("Fortune_10.csv",nrows=7)
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%

### Skipping Rows (skiprows)

In [3]:
df = pd.read_csv("Fortune_10.csv", skiprows=1)
df

,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
0,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
1,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
2,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
3,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
4,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
5,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
6,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
7,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
8,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [41]:
df=pd.read_csv("Fortune_10.csv",usecols=[4,5,6])
df

        Revenue           Expenses    Profit
0  $11,757,018   6,482,465 Dollars   5274553
1  $12,329,371     916,455 Dollars  11412916
2  $10,597,009   7,591,189 Dollars   3005820
3  $14,026,934   7,429,377 Dollars   6597557
4  $10,573,990   7,435,363 Dollars   3138627
5  $13,898,119   5,470,303 Dollars   8427816
6   $9,254,614   6,249,498 Dollars   3005116
7   $9,451,943   3,878,113 Dollars   5573830
8  $14,001,180                 NaN  11901180
9  $11,088,336   5,635,276 Dollars   5453060

In [42]:
df=pd.read_csv("Fortune_10.csv",index_col=1)
df

,ID,Industry,Inception,Revenue,Expenses,Profit,Growth
Name,,,,,,,
Lamtone,1,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
Stripfind,2,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
Canecorporation,3,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
Mattouch,4,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
Techdrill,5,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
Techline,6,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
Cityace,7,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
Kayelectronics,8,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
Ganzlax,9,IT Services,2011,"$14,001,180",NaN,11901180,18%
Trantraxlax,10,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### Using Separator (sep)

In [2]:
df = pd.read_csv("student_result1.csv", sep=",")
df

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60
3        1004       C     11          0                       1          45
4        1005       C     12          5                       2          75