## Pandas Day - 6 (Drop null values)

NaN (Not a Number) represents missing or undefined values in a dataset.

#### *Checks where NaN values are present-
**isnull() / isna():**  
#### *Drop the NaN values.    
**dropna() parameters:**
- axis: drop rows (0) or columns (1)
- how: "any" or "all"
- subset: specific columns to check

In [22]:
import pandas as pd 
import numpy as np

In [21]:
df=pd.read_csv('Fortune_10.csv')
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### Check null value using isna() , isnull()

In [10]:
df.isna()

      ID   Name  Industry  Inception  Revenue  Expenses  Profit  Growth
0  False  False     False      False    False     False   False   False
1  False  False     False      False    False     False   False   False
2  False  False     False      False    False     False   False   False
3  False  False     False      False    False     False   False   False
4  False  False     False      False    False     False   False   False
5  False  False     False      False    False     False   False   False
6  False  False     False      False    False     False   False   False
7  False  False     False      False    False     False   False   False
8  False  False     False      False    False      True   False   False
9  False  False     False      False    False     False   False   False

In [11]:
df.isnull()

      ID   Name  Industry  Inception  Revenue  Expenses  Profit  Growth
0  False  False     False      False    False     False   False   False
1  False  False     False      False    False     False   False   False
2  False  False     False      False    False     False   False   False
3  False  False     False      False    False     False   False   False
4  False  False     False      False    False     False   False   False
5  False  False     False      False    False     False   False   False
6  False  False     False      False    False     False   False   False
7  False  False     False      False    False     False   False   False
8  False  False     False      False    False      True   False   False
9  False  False     False      False    False     False   False   False

### Checking the number of null values using sum().

In [12]:
df.isnull().sum()

ID           0
Name         0
Industry     0
Inception    0
Revenue      0
Expenses     1
Profit       0
Growth       0
dtype: int64

In [13]:
df.isnull().sum().sum()

1

### Checking Null value using notnull() & notna().

In [14]:
df.notnull()

     ID  Name  Industry  Inception  Revenue  Expenses  Profit  Growth
0  True  True      True       True     True      True    True    True
1  True  True      True       True     True      True    True    True
2  True  True      True       True     True      True    True    True
3  True  True      True       True     True      True    True    True
4  True  True      True       True     True      True    True    True
5  True  True      True       True     True      True    True    True
6  True  True      True       True     True      True    True    True
7  True  True      True       True     True      True    True    True
8  True  True      True       True     True     False    True    True
9  True  True      True       True     True      True    True    True

In [16]:
df.notna()

     ID  Name  Industry  Inception  Revenue  Expenses  Profit  Growth
0  True  True      True       True     True      True    True    True
1  True  True      True       True     True      True    True    True
2  True  True      True       True     True      True    True    True
3  True  True      True       True     True      True    True    True
4  True  True      True       True     True      True    True    True
5  True  True      True       True     True      True    True    True
6  True  True      True       True     True      True    True    True
7  True  True      True       True     True      True    True    True
8  True  True      True       True     True     False    True    True
9  True  True      True       True     True      True    True    True

### Chacking Sum fo not null values .

In [14]:
df.notna().sum()

ID           10
Name         10
Industry      7
Inception    10
Revenue      10
Expenses      8
Profit       10
Growth        7
dtype: int64

In [18]:
df.notna().sum().sum()

79

### In pandas series

In [18]:
series=pd.Series([1,2,34,56,np.nan,67,74,np.nan])

In [19]:
series.isnull()

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7     True
dtype: bool

In [20]:
series.notnull()

0     True
1     True
2     True
3     True
4    False
5     True
6     True
7    False
dtype: bool

### Drop the null Values using Dropna()

In [9]:
df=pd.read_csv("Fortune_10 - Copy.csv",sep="\t")
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,NaN
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,NaN,2009,"$9,451,943","3,878,113 Dollars",5573830,NaN
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [11]:
df.dropna()

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### Drop null values column

In [12]:
df.dropna(axis=1)

   ID             Name  Inception       Revenue    Profit
0   1          Lamtone       2009  $11,757,018    5274553
1   2        Stripfind       2010  $12,329,371   11412916
2   3  Canecorporation       2012  $10,597,009    3005820
3   4         Mattouch       2013  $14,026,934    6597557
4   5        Techdrill       2009  $10,573,990    3138627
5   6         Techline       2006  $13,898,119    8427816
6   7          Cityace       2010   $9,254,614    3005116
7   8   Kayelectronics       2009   $9,451,943    5573830
8   9          Ganzlax       2011  $14,001,180   11901180
9  10      Trantraxlax       2011  $11,088,336    5453060

In [13]:
df.dropna(how='any')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [14]:
df.dropna(how='all')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,NaN
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,NaN,2009,"$9,451,943","3,878,113 Dollars",5573830,NaN
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [15]:
df.dropna(thresh=2)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,NaN
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,NaN,2009,"$9,451,943","3,878,113 Dollars",5573830,NaN
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [16]:
df.dropna(subset=['Growth'])

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [17]:
df.dropna(inplace=True)

In [19]:
df.head()

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%

## fillna

In [37]:
df=pd.read_csv('C:\\Users\\JOHN\\Desktop\\Pandas Notes\\New folder\\Fortune_10 - Copy.csv')
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,NaN
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,NaN
6,7.0,Cityace,NaN,2010.0,"$9,254,614",NaN,3005116.0,6%
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9.0,Ganzlax,IT Services,2011.0,"$14,001,180","5,470,303 Dollars",11901180.0,NaN
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [39]:
df.fillna(0)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,0
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,0,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,0
6,7.0,Cityace,0,2010.0,"$9,254,614",0,3005116.0,6%
7,0.0,0,0,0.0,0,0,0.0,0
8,9.0,Ganzlax,IT Services,2011.0,"$14,001,180","5,470,303 Dollars",11901180.0,0
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [41]:
df.fillna('2')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,2
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,2,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,2
6,7.0,Cityace,2,2010.0,"$9,254,614",2,3005116.0,6%
7,2,2,2,2,2,2,2,2
8,9.0,Ganzlax,IT Services,2011.0,"$14,001,180","5,470,303 Dollars",11901180.0,2
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [47]:
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,NaN
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,NaN
6,7.0,Cityace,NaN,2010.0,"$9,254,614",NaN,3005116.0,6%
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9.0,Ganzlax,IT Services,2011.0,"$14,001,180","5,470,303 Dollars",11901180.0,NaN
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [45]:
# fill specific data of nan value 
df.fillna({'Name':'none'})

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,NaN
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,NaN
6,7.0,Cityace,NaN,2010.0,"$9,254,614",NaN,3005116.0,6%
7,NaN,none,NaN,NaN,NaN,NaN,NaN,NaN
8,9.0,Ganzlax,IT Services,2011.0,"$14,001,180","5,470,303 Dollars",11901180.0,NaN
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [54]:
# fill specific data of nan value 
df.fillna({'Name':'none','Industry':'none','Profit':0})

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,NaN
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,none,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,NaN
6,7.0,Cityace,none,2010.0,"$9,254,614",NaN,3005116.0,6%
7,NaN,none,none,NaN,NaN,NaN,0.0,NaN
8,9.0,Ganzlax,IT Services,2011.0,"$14,001,180","5,470,303 Dollars",11901180.0,NaN
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [51]:
df.fillna(method='ffill')

C:\Users\JOHN\AppData\Local\Temp\ipykernel_12292\1193302488.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,20%
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,8%
6,7.0,Cityace,Health,2010.0,"$9,254,614","5,470,303 Dollars",3005116.0,6%
7,7.0,Cityace,Health,2010.0,"$9,254,614","5,470,303 Dollars",3005116.0,6%
8,9.0,Ganzlax,IT Services,2011.0,"$14,001,180","5,470,303 Dollars",11901180.0,6%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [52]:
df.fillna(method='bfill',limit=1)

C:\Users\JOHN\AppData\Local\Temp\ipykernel_12292\1337728953.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill',limit=1)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,26%
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,6%
6,7.0,Cityace,NaN,2010.0,"$9,254,614",NaN,3005116.0,6%
7,9.0,Ganzlax,IT Services,2011.0,"$14,001,180","5,470,303 Dollars",11901180.0,NaN
8,9.0,Ganzlax,IT Services,2011.0,"$14,001,180","5,470,303 Dollars",11901180.0,7%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [55]:
df.fillna(method='bfill',limit=1)

C:\Users\JOHN\AppData\Local\Temp\ipykernel_12292\1337728953.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill',limit=1)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,26%
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,6%
6,7.0,Cityace,NaN,2010.0,"$9,254,614",NaN,3005116.0,6%
7,9.0,Ganzlax,IT Services,2011.0,"$14,001,180","5,470,303 Dollars",11901180.0,NaN
8,9.0,Ganzlax,IT Services,2011.0,"$14,001,180","5,470,303 Dollars",11901180.0,7%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [58]:
df.fillna(method='ffill',limit=1,axis=0)

C:\Users\JOHN\AppData\Local\Temp\ipykernel_12292\4253681017.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill',limit=1,axis=0)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,20%
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,8%
6,7.0,Cityace,NaN,2010.0,"$9,254,614","5,470,303 Dollars",3005116.0,6%
7,7.0,Cityace,NaN,2010.0,"$9,254,614",NaN,3005116.0,6%
8,9.0,Ganzlax,IT Services,2011.0,"$14,001,180","5,470,303 Dollars",11901180.0,NaN
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [60]:
df.fillna(method='bfill',limit=2,inplace=True)

C:\Users\JOHN\AppData\Local\Temp\ipykernel_12292\184301281.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill',limit=2,inplace=True)

In [61]:
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,26%
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,6%
6,7.0,Cityace,IT Services,2010.0,"$9,254,614","5,470,303 Dollars",3005116.0,6%
7,9.0,Ganzlax,IT Services,2011.0,"$14,001,180","5,470,303 Dollars",11901180.0,7%
8,9.0,Ganzlax,IT Services,2011.0,"$14,001,180","5,470,303 Dollars",11901180.0,7%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

### Inplace Fill

In [23]:
df.fillna(0, inplace=True)
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",0,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%