## Pandas Day - 8 (replace() Function)

replace() is a Pandas method used to change specific values in a dataset with new values,
including replacing invalid data or missing values.

In [41]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [42]:
df=pd.read_csv('Fortune_10.csv')
df.head()

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%

In [43]:
df=df[['ID','Name','Industry','Expenses','Profit','Growth']]
df.head()

   ID             Name            Industry           Expenses    Profit Growth
0   1          Lamtone         IT Services  6,482,465 Dollars   5274553    30%
1   2        Stripfind  Financial Services    916,455 Dollars  11412916    20%
2   3  Canecorporation              Health  7,591,189 Dollars   3005820     7%
3   4         Mattouch         IT Services  7,429,377 Dollars   6597557    26%
4   5        Techdrill              Health  7,435,363 Dollars   3138627     8%

### Replace Single Value

In [44]:
df.replace(to_replace='IT Services',value='Education')

,ID,Name,Industry,Expenses,Profit,Growth
0,1,Lamtone,Education,"6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,"916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,"7,591,189 Dollars",3005820,7%
3,4,Mattouch,Education,"7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,"7,435,363 Dollars",3138627,8%
5,6,Techline,Health,"5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,"6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,"3,878,113 Dollars",5573830,4%
8,9,Ganzlax,Education,NaN,11901180,18%
9,10,Trantraxlax,Government Services,"5,635,276 Dollars",5453060,7%

In [45]:
df.replace(1,11) # (to_replace,value)

,ID,Name,Industry,Expenses,Profit,Growth
0,11,Lamtone,IT Services,"6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,"916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,"7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,"7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,"7,435,363 Dollars",3138627,8%
5,6,Techline,Health,"5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,"6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,"3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,NaN,11901180,18%
9,10,Trantraxlax,Government Services,"5,635,276 Dollars",5453060,7%

### Replace Multiple Values with Single Value

In [46]:
# Change id to 11-20
df.replace([1,2,3,4,5,6,7,8,9,10],[11,12,13,14,15,16,17,18,19,20]).head()

   ID             Name            Industry           Expenses    Profit Growth
0  11          Lamtone         IT Services  6,482,465 Dollars   5274553    30%
1  12        Stripfind  Financial Services    916,455 Dollars  11412916    20%
2  13  Canecorporation              Health  7,591,189 Dollars   3005820     7%
3  14         Mattouch         IT Services  7,429,377 Dollars   6597557    26%
4  15        Techdrill              Health  7,435,363 Dollars   3138627     8%

### Replace Using Dictionary

In [47]:
df.replace({'Industry':['Financial Services','Government Services']},'Education')

   ID             Name     Industry           Expenses    Profit Growth
0   1          Lamtone  IT Services  6,482,465 Dollars   5274553    30%
1   2        Stripfind    Education    916,455 Dollars  11412916    20%
2   3  Canecorporation       Health  7,591,189 Dollars   3005820     7%
3   4         Mattouch  IT Services  7,429,377 Dollars   6597557    26%
4   5        Techdrill       Health  7,435,363 Dollars   3138627     8%
5   6         Techline       Health  5,470,303 Dollars   8427816    23%
6   7          Cityace       Health  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics       Health  3,878,113 Dollars   5573830     4%
8   9          Ganzlax  IT Services                NaN  11901180    18%
9  10      Trantraxlax    Education  5,635,276 Dollars   5453060     7%

### Replace Values in Specific Column

In [48]:
df["Profit"] = df["Profit"].replace(5453060, df["Profit"].mean())
df

,ID,Name,Industry,Expenses,Profit,Growth
0,1,Lamtone,IT Services,"6,482,465 Dollars",5274553.0,30%
1,2,Stripfind,Financial Services,"916,455 Dollars",11412916.0,20%
2,3,Canecorporation,Health,"7,591,189 Dollars",3005820.0,7%
3,4,Mattouch,IT Services,"7,429,377 Dollars",6597557.0,26%
4,5,Techdrill,Health,"7,435,363 Dollars",3138627.0,8%
5,6,Techline,Health,"5,470,303 Dollars",8427816.0,23%
6,7,Cityace,Health,"6,249,498 Dollars",3005116.0,6%
7,8,Kayelectronics,Health,"3,878,113 Dollars",5573830.0,4%
8,9,Ganzlax,IT Services,NaN,11901180.0,18%
9,10,Trantraxlax,Government Services,"5,635,276 Dollars",6379047.5,7%

### Replace Using Regex

In [49]:
df.replace({'Industry':'[A-Za-z]'},0,regex=True)

   ID             Name  Industry           Expenses      Profit Growth
0   1          Lamtone         0  6,482,465 Dollars   5274553.0    30%
1   2        Stripfind         0    916,455 Dollars  11412916.0    20%
2   3  Canecorporation         0  7,591,189 Dollars   3005820.0     7%
3   4         Mattouch         0  7,429,377 Dollars   6597557.0    26%
4   5        Techdrill         0  7,435,363 Dollars   3138627.0     8%
5   6         Techline         0  5,470,303 Dollars   8427816.0    23%
6   7          Cityace         0  6,249,498 Dollars   3005116.0     6%
7   8   Kayelectronics         0  3,878,113 Dollars   5573830.0     4%
8   9          Ganzlax         0                NaN  11901180.0    18%
9  10      Trantraxlax         0  5,635,276 Dollars   6379047.5     7%

In [50]:
df.replace('3,878,113 Dollars',method='bfill')

,ID,Name,Industry,Expenses,Profit,Growth
0,1,Lamtone,IT Services,"6,482,465 Dollars",5274553.0,30%
1,2,Stripfind,Financial Services,"916,455 Dollars",11412916.0,20%
2,3,Canecorporation,Health,"7,591,189 Dollars",3005820.0,7%
3,4,Mattouch,IT Services,"7,429,377 Dollars",6597557.0,26%
4,5,Techdrill,Health,"7,435,363 Dollars",3138627.0,8%
5,6,Techline,Health,"5,470,303 Dollars",8427816.0,23%
6,7,Cityace,Health,"6,249,498 Dollars",3005116.0,6%
7,8,Kayelectronics,Health,NaN,5573830.0,4%
8,9,Ganzlax,IT Services,NaN,11901180.0,18%
9,10,Trantraxlax,Government Services,"5,635,276 Dollars",6379047.5,7%

### Replace Using methods() {pad,bfill,ffill}

In [51]:
df.replace('3,878,113 Dollars',method='bfill',limit=1)

,ID,Name,Industry,Expenses,Profit,Growth
0,1,Lamtone,IT Services,"6,482,465 Dollars",5274553.0,30%
1,2,Stripfind,Financial Services,"916,455 Dollars",11412916.0,20%
2,3,Canecorporation,Health,"7,591,189 Dollars",3005820.0,7%
3,4,Mattouch,IT Services,"7,429,377 Dollars",6597557.0,26%
4,5,Techdrill,Health,"7,435,363 Dollars",3138627.0,8%
5,6,Techline,Health,"5,470,303 Dollars",8427816.0,23%
6,7,Cityace,Health,"6,249,498 Dollars",3005116.0,6%
7,8,Kayelectronics,Health,NaN,5573830.0,4%
8,9,Ganzlax,IT Services,NaN,11901180.0,18%
9,10,Trantraxlax,Government Services,"5,635,276 Dollars",6379047.5,7%

In [52]:
df.replace('Health',method='bfill',limit=5)

,ID,Name,Industry,Expenses,Profit,Growth
0,1,Lamtone,IT Services,"6,482,465 Dollars",5274553.0,30%
1,2,Stripfind,Financial Services,"916,455 Dollars",11412916.0,20%
2,3,Canecorporation,IT Services,"7,591,189 Dollars",3005820.0,7%
3,4,Mattouch,IT Services,"7,429,377 Dollars",6597557.0,26%
4,5,Techdrill,IT Services,"7,435,363 Dollars",3138627.0,8%
5,6,Techline,IT Services,"5,470,303 Dollars",8427816.0,23%
6,7,Cityace,IT Services,"6,249,498 Dollars",3005116.0,6%
7,8,Kayelectronics,IT Services,"3,878,113 Dollars",5573830.0,4%
8,9,Ganzlax,IT Services,NaN,11901180.0,18%
9,10,Trantraxlax,Government Services,"5,635,276 Dollars",6379047.5,7%