## Pandas Day 10

### loc & iloc Method 
- **`loc`** is a Pandas method used to select rows and columns by **labels** and conditions. 
- **`iloc`** is a Pandas method used to select rows and columns by **integer positions (index numbers)**.

In [2]:
import pandas as pd

In [4]:
df=pd.read_csv("student_result1.csv")
df

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60
3        1004       C     11          0                       1          45
4        1005       C     12          5                       2          75

### Using loc (Label-based Selection)

In [5]:
df.loc[0]

Student ID                1001
Section                      A
Class                       10
Study hrs                    2
Social Media usage hrs       3
Percentage                  50
Name: 0, dtype: object

In [6]:
df.loc[0:3]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60
3        1004       C     11          0                       1          45

In [7]:
df.loc[[0]]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50

In [8]:
df.loc[[4],'Percentage']

4    75
Name: Percentage, dtype: int64

In [9]:
df.loc[[1,4,2]]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
1        1002       B     10          6                       2          80
4        1005       C     12          5                       2          75
2        1003       A     10          3                       2          60

In [10]:
df.loc[[4,3,2],['Percentage','Class']]

   Percentage  Class
4          75     12
3          45     11
2          60     10

In [11]:
df.loc[2:4,['Percentage','Class']]

   Percentage  Class
2          60     10
3          45     11
4          75     12

In [12]:
df.loc[[False,False,True,False,False],['Study hrs']]

   Study hrs
2          3

### Loc with condition

In [14]:
df.loc[df['Class']>10]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
3        1004       C     11          0                       1          45
4        1005       C     12          5                       2          75

In [15]:
df.loc[df['Percentage']>45]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60
4        1005       C     12          5                       2          75

In [16]:
df.iloc[ :4]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60
3        1004       C     11          0                       1          45

In [17]:
df.loc[df['Percentage']>45]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60
4        1005       C     12          5                       2          75

In [18]:
df.iloc[[2]]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
2        1003       A     10          3                       2          60

### Using iloc (Index-based Selection)

In [19]:
df.iloc[0]

Student ID                1001
Section                      A
Class                       10
Study hrs                    2
Social Media usage hrs       3
Percentage                  50
Name: 0, dtype: object

In [20]:
df.iloc[0:3]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60

In [21]:
df.iloc[0, 1]

'A'

In [22]:
df.iloc[:, 0]

0    1001
1    1002
2    1003
3    1004
4    1005
Name: Student ID, dtype: int64

### Difference Between loc and iloc

In [26]:
# loc uses labels
print(df.loc[1, "Class"])

# iloc uses index positions
print(df.iloc[1, 0])

10
1002

### Conclusion
loc is label-based and iloc is position-based for selecting data.